<div class="navigation-bar">
  <a routerLink="content" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Content List</a>
  <a routerLink="content/4" routerLinkActive="active">Content card-4</a>
  <a routerLink="pagewillnotbefound" routerLinkActive="active">Invalid page link</a>
</div>
<router-outlet></router-outlet>


<input type="number" [(ngModel)]="contentId">
<button (click)="onRetrieveContent()">Retrieve Content</button>
<app-app-messages></app-app-messages>





<router-outlet></router-outlet>