<app-modify-content (contentAdded)="onContentAdded($event)"></app-modify-content>

<br>

<div class="search-content-form">
  <mat-form-field>
    <mat-label>Title search:</mat-label>
    <input matInput type="text" id="titleToSearchFor" [(ngModel)]="searchTitle" autofocus>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="searchContent()">Search by Title</button>
</div>

<div class="title-error" [style.color]="searchResult === 'Content found!' ? 'green' : 'red'">
  {{ searchResult }}
</div>
<!-- Display the content list with a loop -->
<div *ngFor="let type of ['Sporty', 'Collection', 'Smart']">
  <h2>{{ type }} List</h2>
  <div *ngFor="let content of contentItems | contentFilter: type" [class]="content.type">
    <div [class.highlight]="searchResult === content.title">
      <app-content-card [content]="content"></app-content-card>

    </div>
  </div>
</div>