/* content-list.component.scss */

.Sporty {
    background-color: #04eb8b; /* green */
  }
  
  .Smart {
    background-color: #b430e8; /* red */
  }
  
  .Collection {
    background-color: #ff0080; /* blue */
  }
  
  .highlight {
    border: 2px solid yellow;
  }
  
  .content-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .not-found {
    color: red;
  }