<!-- content-detail.component.html -->
<div class="content-card" *ngIf="content">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ content.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="content.creator">Creator: {{ content.creator }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image *ngIf="content.img; else defaultImage" [src]="content.img" alt="Content Image" />
      <ng-template #defaultImage>
        <img src="assets/Image/GotoImage.jpg" alt="Default Image" />
      </ng-template>
      <mat-card-content>
        <p *ngIf="content.description">Description: {{ content.description }}</p>
        <p class="content-type">Type: {{ content.type }}</p>
        <div *ngFor="let tag of content.tags">
          <mat-chip>{{ tag }}</mat-chip>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/content']">Back to List</a>
      </mat-card-actions>
    </mat-card>
  </div>